<nav class="p-4">
    <span class="text-muted fs-4 px-4 mx-4" id="logo">Certus</span>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-muted" href="#">Caracteristicas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#">Soporte Para</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#">Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#">Precios</a>
        </li>
        <button type="button" class="btn btn-outline-primary mx-4">Inscribirse</button>
    </ul>
</nav>